.experts-area {
    height: 1100px;
    padding-top: 80px;
    padding-bottom: 40px;
}
.container8{
    display: flex;
    justify-content: center;
}
.row8 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    
  }
  
  .col8 {
    
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    
  }
  
  @media (max-width: 767px) {
    .col8 {
      flex-basis: 100%;
    }
  }
  

.single-team-member{
    margin-bottom: 40px;    
    width:fit-content;
    
}
.single-team-member .inner-content{
    position: relative;
}
.single-team-member .img-holder{
    overflow: hidden;
    position: relative;
    display: block;    
    height: 240px;
}
.single-team-member .img-holder img{
    transform: scale(1.1, 1.1);
    transition: all 0.5s ease 0s;
    width: 37a0px;     
    height: 250px;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    border: 0;
    vertical-align: middle;
}
.single-team-member:hover .img-holder img{
    transform: scale(1, 1);    
}
.overlay-style-one .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
.single-team-member .img-holder .overlay-style-one .box .content ul li{
    display: inline-block;
    margin: 0 5px;    
}
.single-team-member .img-holder .overlay-style-one .box .content ul li a .fa{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 2px solid #fff;
    color: #fff;
    font-size: 14px;
    line-height: 36px;
    transition: all 500ms ease;    
    padding: 8px;
}
.single-team-member .img-holder .overlay-style-one .box .content ul li a:hover .fa{
    background: #2acb35;
}

.single-team-member:hover .img-holder .overlay-style-one{
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; 
}
.img-holder {
    position: relative;
}

.overlay-style-one{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(42, 203, 53, 0.5); /* make the background color 70% opaque */
    opacity: 0;
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: center;
    transform-origin: center;
}


.single-team-member .icon-holder {
    position: absolute;
    bottom: -39px;
    left: 0;
    right: 0;
    text-align: center;
}
.single-team-member .icon-holder .inner {
    border: 2px solid #2acb35;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    padding: 2px;
    margin: 0 auto;
    transition: all 900ms ease;
}
.single-team-member:hover .icon-holder .inner{
    border-color: #ffffff;
}
.single-team-member .icon-holder span:before {
    width: 70px;
    height: 70px;
    display: inline-block;
    background: #2acb35;
    border-radius: 50%;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    padding: 17px 0;
}

.single-team-member .text-holder {
    display: block;
    border: 1px solid #f4f4f4;
    border-top: none;
    display: block;
    padding: 60px 0 25px;
}
.single-team-member .text-holder h3 {
    margin: 0 0 15px;
}
.single-team-member .text-holder h4 {
    color: #2acb35;
    font-size: 18px;
    font-family: 'Courgette', cursive;
    margin: 0px 0 17px;
}
.single-team-member .text-holder .border{
    width: 70px;
    height: 1px;
    display: block;
    background: #f4f4f4;
    margin: 0 auto;
}
.single-team-member .text-holder p {
    margin: 14px 0 0;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #888888;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    box-sizing: border-box;
    margin: 14px 0 0;
    display: flex;
    justify-content: center;
    align-self: flex-start;


}

.ss{
  color: #888888;
  text-align: center;
  box-sizing: border-box;
  height: 80px;
  padding-bottom: 1px;
}

.text-holder .fae{
    color: #2acb35;
    padding-right: 4px;
    height: 15px;
    
    
}